.sidebar {
    height: max(100vh, 100%);
    background-color: #8443c5;
}
.logoHolder {
    padding: 1em;
    border-bottom: 2px solid #fff;
}
.logo {
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-size: 2.5rem;
}
.sidebarList {
    list-style: none;
    padding: 0;
}
.sidebarItem {
    padding: 1.5em;
    display: flex;
    justify-content: flex-start;
}
.sidebarItem:hover, .activeMenu {
    background-color: #663399;
}
.sidebarList a, .sidebarItem span {
    color: #fff;
    text-decoration: none;
}
.sidebarItem span {
    margin-right: 2em;
}